/* Ali worked here */



@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
body{
   width: 1440px;
}
.ali1 {
   width: 112px;
   height: 66px; 
   margin-left: 121px;
   margin-top: 21px;
}

.alimain {
    display: flex;
}
.ali1i {
   padding-left: 121px;
padding-top: 50px;
 width: 150px;
 height: 32px;
 font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;
}
.ali2i {
    padding-left: 10px;
    padding-top: 50px;
    width: 130px;
    height: 32px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;
}
.ali3i {
    padding-top: 50px;
    padding-left: 10px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;
}
.alih1 {
    padding-left: 121px;
    width: 628px;
    height: 190px;
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 101.38%;
}
.alip1 {
    
    padding-left: 121px;
    width: 414px;
    height: 62px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
}
.aliimg {
   position: absolute;
width: 304px;
height: 356px;
left: 890px;
top: 223px;

}
.ellipse {
   padding-left: 921px;
width: 274px;
height: 41px;
display: none;

}
.alicont {
    width: 483px;
    height: 200px;
    margin-left: 409px;
    background-color: #1E4681;
    margin-top: 50px;
}
.alip2 {
    padding-left: 20px;
    padding-top: 10px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 130%;
color: white;
}
.alip3 {
    width: 280.5px;
height: 45.64px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 130%;
color: white;
padding-left: 260px;
padding-top: 10px;
}


@media screen and (min-width:992px) and (max-width:1279px){
  .alimain{ justify-content: space-between;
    width: 400px;
  }
    body{
    width:834px;
   }
    .ali1 {
    width: 64.87px;
height: 38.23px;
margin-left: 70px;
margin-top: 22px;
   }
   .ali1i {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 115%;
    width: 90px;
height: 18.53px;
padding-left: 78px;

   }
   .ali2i {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 115%;
   }
   .ali3i {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 115%;

   }
   .alih1 {
padding-left: 70px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 46px;
line-height: 101.38%;
width: 363.72px;
height: 110.04px;
   }
   .alip1 {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;
width: 264px;
height: 36px;
padding-left: 70px;
   }
   .alicont {
    width: 280.11px;
height: 115.83px;
margin-left: 237px;
   }
   .alip2 {
    width: 249.38px;
height: 65.45px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 130%;
   }
   .alip3 {
    width: 162.46px;
height: 26.43px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 130%;
padding-left: 128px;

   }
   .aliimg {
    position: absolute;
width: 176.07px;
height: 206.18px;
left: 515.46px;
top: 138.99px;
   }
   .ellipse {
    position: absolute;
width: 158.69px;
height: 23.75px;
right: 322px;
top: 345.01px;
display: none;
   }
}
@media screen and (min-width:320px) and (max-width:991px) {
body {
    width: 375px;
}
    .ali1 {
    width: 52.19px;
height: 30.75px;
margin-left: 60px;
}
.ali1i {
    width: 60.58px;
height: 14.91px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 115%;
padding-left: 60px;
}
.ali2i {
    width: 60.58px;
height: 14.91px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 115%;

}
.ali3i {
    width: 60.58px;
height: 14.91px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 115%;
}
 .alih1 {
    font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 37px;
line-height: 101.38%;
padding-left: 60px;
width: 292.63px;
height: 88.53px;
 }
 .alip1 {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 150%;
width: 212.4px;
height: 28.96px;
padding-left: 60px;
 }
 .alicont {
    width: 225.36px;
height: 93.19px;
margin-left: 60px;
margin-top: 220px;

 }
 .aliimg {
    position: absolute;
width: 141.68px;
height: 175.1px;
left: 209px;
top: 290px;
 }
 .ellipse {
display: flex; 
width: 127.68px;
height: 19.1px;
display: none;

 }
 .alip2 {
    width: 200.64px;
height: 52.65px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 130%;
 }
 .alip3 {
    width: 130.7px;
height: 21.27px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 130%;
padding-left: 100px;
padding-bottom: 100px;
 }
  
}






/* Ali worked here end */

